:root {
    /* it's a very dark color */
    --verydark: #000000
}

/* light blue background color for the overall page */
body {
    background-color: rgb(75, 200, 255);
    border-style: solid;
    border-color: hsla(244, 62%, 56%, 1);
    border-width: 0.2vw;
    border-radius: 30px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
}

/* Text in Header */
h2 ~ h3 {
    color: darkblue;
    & a {
        color: darkblue;
    }
}

/* Active link */
a:active{
    background-color: white;
}

/* Attendence flexbox */
nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap:100px;
}

/* Important note main note */
section p {
    font-family: "Jersey 10", sans-serif;
}

/* Important note notice of important note notice, noticing the notice of the important note and the noting of-- */
section > p > strong{
    color: red
}

/* Big text when important note has been importantly noted */
section:hover{
    font-size:32px;
}

/* Lines between parts */
hr {
    position: static;
    border-color: var(--verydark, black);
}

/* Q&A Grid */
hr + div {
    display: grid;
    grid-template-rows: 20px 10px 15px 10px 15px 10px 15px;
    justify-items: start;
    row-gap: 20px;
    margin-bottom: 40px
}

/* Image and video sizing */
*.image, *.video {
    display:inline-block;
    position: relative;
    left: 10px;
    width: 1080px;
    height: 720px;
    min-width: 20vw;
    max-width: 80vw;
    min-height: 20vh;
    max-height: 80vh;
}

/* the cat. */
@media screen and (min-width: 500px) {
    #cat{
        margin: 4mm;
        padding: 4mm;
        font-size: 40px;
        color: green;
    }
}

@media screen and (min-width: 720px) {
    #cat{
        margin: 6mm 6mm 6mm 6mm;
        padding: 6mm 6mm 6mm 6mm;
        font-size: 60px;
        color: yellow;
    }
}

@media screen and (min-width: 1080px) {
    #cat{
        margin: 8mm 8mm 8mm 8mm;
        padding: 8mm 8mm 8mm 8mm;
        font-size: 80px;
        color: orange;
    }
}

@media screen and (min-width: 1200px) {
    #cat{
        margin: 1cm 1cm 1cm 1cm;
        padding: 1cm 1cm 1cm 1cm;
        font-size: 120px;
        color: red;
    }
}

div[hi="hi"]:has(> p) {
    display:none;
}